<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    
	<bean id="propertyConfigurerForManager"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="order" value="2" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:properties/redis.properties</value>
				<value>classpath:properties/mongodb.properties</value>
				<value>classpath:properties/rabbit.properties</value>
			</list>
		</property>
	</bean>

	<import resource="redis.xml" />
	<!-- 使用时请确保rabbitMQ服务端已经启动,否则会报队列监听异常-->
	<import resource="rabbit.xml"/> 
	
	<context:component-scan base-package="maki" use-default-filters="false">
		<!-- scan annotation -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
	</context:component-scan>
	
    <bean id="propertiesConfig" class="maki.commons.component.PropertiesConfig">
    	<property name="redis" value="classpath:properties/redis.properties" />
    </bean>
</beans>
